
.layout {
    display: flex;
    min-height: 100vh; 
    flex-direction: row; 
  }
  

  .mainContent {
    flex: 1;
    padding: 20px; 
    background-color: #ecf0f1;
    margin-left: 24vw;
    width: 76vw;
  }
  